annotated-doc==0.0.5
markdown-it-py==4.2.0
mdurl==0.1.2
pexpect==4.9.0
ptyprocess==0.7.0
pygments==2.20.0
PyYAML==6.0.3
pyelftools==0.33
rich==15.0.0
shellingham==1.5.4
typer==0.27.0
websockets==17.0.1
